@import "tailwindcss";

@theme {
  --font-gilroy: 'Gilroy', sans-serif;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Gilroy-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Gilroy-Heavy.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Gilroy-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
}

body {
  font-family: var(--font-gilroy);
}

button,
[role='button'] {
  cursor: pointer;
}

button:disabled,
[aria-disabled='true'] {
  cursor: not-allowed;
}
